body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: red;
}

.cover {
    height: 30rem;
    color: whitesmoke;
    background-image: url("logos&pics/portada2_1280x853.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.2);
    background-blend-mode: darken;
}

.cover-small {
    height: 200px;
    background-blend-mode: normal;
}

.coffee-type-card {
    border: 0 !important;
    box-shadow: 0 4px 6px --1px rgba(0, 0, 0, 0.103), 0 2px 4px -1px rgba(0, 0, 0, 0.123)
}

.card-title {
    min-height: 2.5rem;
}

.card-text {
    min-height: 10rem;
}

.product-stripe {
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stripe-container {
    display: flex;
}

.stripe-container .card {
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.card {
    margin-bottom: 25px;
}
